.TrendingToday,
.movies {
  /* display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly; */

  display: grid;
  grid-template-columns: repeat(5, 240px);

  gap: 50px;
  justify-content: space-around;
  align-content: center;
}

.TrendingTodayList {
  box-shadow: 18px 4px 51px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
  position: relative;
  height: 300px;
  width: 200px;
}

.TrendingTodayList-name {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 15px;
  font-size: 15px;
}

.TrendingTodayList-type-data {
  display: flex;
  justify-content: space-between;
}

.trendingMovieSeriesName {
  font-weight: bolder;
}

.app_trending_today {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.pageTitle {
  color: white;
  font-size: 2vw;
}

.pagination {
  color: white;
  display: flex;
  border: 1px solid gold;
  font-size: 20px;
  background-color: gray;
  justify-content: center;
}

.pagination > span {
  cursor: pointer;
  border: 1px solid gold;
  padding: 15px 25px;
}

.selected_page {
  background-color: lightgrey;
}

.NoteBadge {
  position: absolute;
  background-color: rgb(97, 101, 100);
  padding: 5px 5px;
  border-radius: 50%;
  top: -15px;
  right: -12px;

  width: 40px;
}

@media (max-width: 767.98px) {
  .movie_suggestion_content {
    padding-top: 70px;
  }
  .TrendingToday,
  .movies {
    grid-template-columns: repeat(1, 240px);

    justify-content: center;
    align-items: center;
  }

  .app_header {
    height: 60px;
    font-size: 30px;
  }

  .pagination {
    width: 150px;
  }
  .pagination > span {
    padding: 0px 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .TrendingToday {
    grid-template-columns: repeat(2, 240px);

    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) and (max-width: 1399.98px) {
  .TrendingToday {
    grid-template-columns: repeat(3, 240px);

    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1400px) and (max-width: 1989.98px) {
  .TrendingToday {
    grid-template-columns: repeat(4, 240px);

    justify-content: space-between;
    align-items: center;
  }
}
