.app_title {
  cursor: pointer;
}

.app_header {
  height: 100px;
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 40px;
  background-color: gray;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_title {
  background: rgb(83, 162, 205);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.movie__logo {
  fill: rgb(176, 132, 202);
}
