.App{
   width: 100vw;
   height: 100vh;
 
}

.movie_suggestion_content{
    padding-top: 130px;
     padding-bottom: 100px;
}

body{
    background-color: #2f2d2e;
}




/* @media (max-width:1200px){
    body{
        background-color: green;
    }
} */
