.App{
    min-height: 100vh;
    min-width: 100vh;
   padding-bottom: 130px;
}

.movie_suggestion_content{
    padding-top: 130px;
}

body{
    background-color: #2f2d2e;
}




/* @media (max-width:1200px){
    body{
        background-color: green;
    }
} */
